@import "normalize";
@import "core";
@import "../../components/com-navbar/css/com-navbar";
@import "../../components/com-headboard/css/com-headboard";
@import "../../components/com-card/css/com-card";
@import "../../components/com-cart/css/com-cart";

.section {
  min-height: 200px;
}
.section-head {
  width: 100%;
}
.section-2 { }
.section-3 {
  width: 100%;
  height: auto;
}
.panal {
  background-image: url("../../../../assets/img/sections/background.svg");
  background-color: white;
  background-repeat: repeat;
  background-size: 50px;
}