.com-cart {
  padding-top: 30px;
  .total-container {
    .number-price {
      display: flex;
      align-items: center;
      .number {
        font-size: 2.8rem;
      }
      i {
        margin-left: 5px;
      }
    }
  }

}
