.com-headboard {
  height: 500px;
  width: 100%;
  background-image: url(../../../../assets/img/components/com-headboard/background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  .content {
    width: 250px;
    margin: auto;
    text-align: center;
    img {
      width: 60%;
    }
    .title { }
  }
}
