.com-headboard {
  height: 400px;
  width: 100%;
  background-image: url(../../img/components/com-headboard/background-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  .title {
    display: flex;
    justify-items: center;
    align-items: center;
    height: 100%;
    h1 {
      width: 100%;
    }
  }
}
