.com-card {
  .card {
    .card-image {
      max-width: 100% !important;
      .card-img-top {
        background-color: #fbfbfb;
      }
    }
    .card-body {
      .card-title {
        font-weight: 400;
      }
      .card-text {
        @include truncate(1em, 1.4, 3);
      }
      .card-info {
        margin-bottom: 12px;
      }
      .card-count {
        display: flex;
        input {
          max-width: 32px;
          height: 28px;
          text-align: center;
          margin: 0;
          @include media(md) {
            padding-left: 12px;
          }
          &:focus {
            border-bottom: #fbc02d;
          }
        }
        .arrow-count {
          display: flex;
          align-items: center;
          width: 24px;
          cursor: pointer;
          &.up {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
          }
          &.down {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }
        }
      }
      .text-price {
        display: flex;
        font-size: 1.3rem;
        padding-right: 20px;
        align-items: center;
      }
      .btn-price {
        .material-icons {
          margin-left: 3px;
        }
      }
    }
    &.horizontal {
      @include media(md) {
        flex-direction: row !important;
        .card-image {
          width: 25% !important;
          img {
            width: 100% !important;
          }
        }
        .card-body {
          max-width: 75% !important;
        }
      }
      .card-text {
        @include truncate(1em, 1.4, 2);
        max-width: 100%;
      }
    }
  }
    &.highlight .card{
      box-shadow: -4px 0 0 0 #fbc02d;
    }
  .empty-message {
    min-height: 560px;
    padding: 16px;
  }
}
